# Hey Good Morning Guys,

## Here is the assignment part 1 with basic level while go day wise level will increase.

### Where in first part we have worked on small dataset to analyze how effective is encoding while building any model & this all dataset our open sourced & from wednesday will increase the level with custom dataset.

# Before you apply any Encoding Technique,you shoul think like::
### 1.)Why Label Encoding?
### 2.)When & where to use?
### 3.)Limitation of Label Encoding?
### 4.)Advantage of Label Encoding?

## You should ask from yourself with every topic tha you are applying to make it clear with depth & praactice aat the same time.

In [1]:
#import all the necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import warnings

warnings.filterwarnings('ignore')

In [2]:
# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [3]:
df.info() #check info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized_losses    164 non-null float64
make                 205 non-null object
fuel_type            205 non-null object
aspiration           205 non-null object
num_doors            203 non-null object
body_style           205 non-null object
drive_wheels         205 non-null object
engine_location      205 non-null object
wheel_base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb_weight          205 non-null int64
engine_type          205 non-null object
num_cylinders        205 non-null object
engine_size          205 non-null int64
fuel_system          205 non-null object
bore                 201 non-null float64
stroke               201 non-null float64
compression_ratio    205 non-null float64
horsepower           203 non-null float64
peak_rpm             203 non-null float64
city_mpg             205 non-null int64
highway_mpg          205 non-null int64
price                201 non-null float64
dtypes: float64(11), int64(5), object(10)
memory usage: 33.7+ KB

In [4]:
#check the null value
df.isnull().sum()

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [5]:
new_data = df.dropna(axis=0,how='any') #drop the null  values

In [6]:
new_data.isnull().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [7]:
y = new_data['price']   #dependent variables
X = new_data.drop('price',axis=1)  #independent variables

In [8]:
X.shape, y.shape  #check the shape of x and y

((159, 25), (159,))

In [9]:
#split the data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
#check shape of train and test data
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(127, 25) (127,)
(32, 25) (32,)

# Why do we use encoding technique ?

### We use encoding techniques as machine learning models won't take the raw string as input. If we try to run the Linear regression model here without any encoding we will get errors. Let's try to run without encoding and see what result will we get.

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)

ValueError: could not convert string to float: 'nissan'

## We have got error saying could not convert string to float. So before giving the varibales to the model we have to encode them

In [12]:
#select all the categorical columns
obj_df = new_data.select_dtypes(include=['object']).copy()
obj_df.head()

,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,engine_type,num_cylinders,fuel_system
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi
6,audi,gas,std,four,sedan,fwd,front,ohc,five,mpfi
8,audi,gas,turbo,four,sedan,fwd,front,ohc,five,mpfi
10,bmw,gas,std,two,sedan,rwd,front,ohc,four,mpfi

In [13]:
#We will use One hot encoding to convert all the categorical features
#Here the biggest mistake we are making is just applying one hot encoding blindly without figuring out ordinal & nominal feature.
dum = pd.get_dummies(obj_df,drop_first=True)
dum.head()

,make_bmw,make_chevrolet,make_dodge,make_honda,make_jaguar,make_mazda,make_mercedes-benz,make_mitsubishi,make_nissan,make_peugot,...,engine_type_ohcv,num_cylinders_five,num_cylinders_four,num_cylinders_six,num_cylinders_three,fuel_system_2bbl,fuel_system_idi,fuel_system_mfi,fuel_system_mpfi,fuel_system_spdi
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
6,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
#drop the categorical column from new data
new_df = new_data.drop(obj_df.columns,axis=1)

In [15]:
#concat dum with new_df
new_dum = pd.concat([new_df,dum],axis=1)
new_dum.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,...,engine_type_ohcv,num_cylinders_five,num_cylinders_four,num_cylinders_six,num_cylinders_three,fuel_system_2bbl,fuel_system_idi,fuel_system_mfi,fuel_system_mpfi,fuel_system_spdi
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,...,0,0,1,0,0,0,0,0,1,0
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,...,0,1,0,0,0,0,0,0,1,0
6,1,158.0,105.8,192.7,71.4,55.7,2844,136,3.19,3.4,...,0,1,0,0,0,0,0,0,1,0
8,1,158.0,105.8,192.7,71.4,55.9,3086,131,3.13,3.4,...,0,1,0,0,0,0,0,0,1,0
10,2,192.0,101.2,176.8,64.8,54.3,2395,108,3.50,2.8,...,0,0,1,0,0,0,0,0,1,0

In [16]:
y = new_dum['price']   #dependent variables
X = new_dum.drop('price',axis=1)  #independent variables

In [17]:
#split inot training and testing
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [18]:
#fit the regression model 
model.fit(X_train,Y_train)
predict = model.predict(X_test)
model.score(X_test,Y_test)

0.808083183162316

# We have got 80% accuracy Can we prove our model performance by encoding ?

## If you notice in dataset we have applied one hot encoding on all the features, but we use one hot encoding only for nominal data. In our dataset we have feature column num_cylinders (Number of cylinders) . It is a ordinal variable, let's apply label encoding on it and see if we can improve our accuracy.

# What we learn in this notebook?

## Is that we have to figure out ordinal & nominal feature to apply accurate Encoding Technique.

In [19]:
#apply label encoding on num_cylinders
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label = le.fit_transform(obj_df['num_cylinders'])

#drop older dum_cylinders from dum
dum_lab = dum.drop(dum[['num_cylinders_five', 'num_cylinders_four','num_doors_two',
                        'num_cylinders_six', 'num_cylinders_three']],axis=1)

#add the newly LabelEncoded num_cylinders column
dum_lab['num_cylinders'] = label

In [20]:
a = pd.concat([new_df,dum_lab],axis=1)
a.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,...,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,fuel_system_2bbl,fuel_system_idi,fuel_system_mfi,fuel_system_mpfi,fuel_system_spdi,num_cylinders
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,...,0,1,0,0,0,0,0,1,0,2
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,...,0,1,0,0,0,0,0,1,0,1
6,1,158.0,105.8,192.7,71.4,55.7,2844,136,3.19,3.4,...,0,1,0,0,0,0,0,1,0,1
8,1,158.0,105.8,192.7,71.4,55.9,3086,131,3.13,3.4,...,0,1,0,0,0,0,0,1,0,1
10,2,192.0,101.2,176.8,64.8,54.3,2395,108,3.50,2.8,...,0,1,0,0,0,0,0,1,0,2

In [21]:
#concat dum_lab with new_df
new_dum_lab = pd.concat([new_df,dum_lab],axis=1)
new_dum_lab.head()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,...,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,fuel_system_2bbl,fuel_system_idi,fuel_system_mfi,fuel_system_mpfi,fuel_system_spdi,num_cylinders
3,2,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,...,0,1,0,0,0,0,0,1,0,2
4,2,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,...,0,1,0,0,0,0,0,1,0,1
6,1,158.0,105.8,192.7,71.4,55.7,2844,136,3.19,3.4,...,0,1,0,0,0,0,0,1,0,1
8,1,158.0,105.8,192.7,71.4,55.9,3086,131,3.13,3.4,...,0,1,0,0,0,0,0,1,0,1
10,2,192.0,101.2,176.8,64.8,54.3,2395,108,3.50,2.8,...,0,1,0,0,0,0,0,1,0,2

In [22]:
y = new_dum_lab['price']   #dependent variables
X = new_dum_lab.drop('price',axis=1)  #independent variables

In [23]:
#split inot training and testing
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [24]:
#fit the regression model 
model.fit(X_train,Y_train)
predict = model.predict(X_test)
model.score(X_test,Y_test)

0.8183410734465341

## Our Accuracy has increased from 80% to 81% by using label encoding. We should be always careful with the encoding technique we choose as by using right encoding method we can increase the accuracy of our model

# Assignment Part

In [2]:
cat_data=pd.read_csv('encoding.csv')

In [5]:
data.head(2)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,...,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0

# As you can observe from the above dataset 'encoding.csv' all columns are not visibe, try to write a code using pandas to unhide all columns.

In [6]:
pd.options.display.max_rows = None

In [7]:
pd.options.display.max_columns = None
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

# What you have to do with above dataset?

## Try to figure out all categorical features, apply technique that we have learned while at the same time use any simple model & try to analyze the effect of different techniques on ML Model.

# You can drop all NAN values & observe the change by applying different encoding techniques

# Solution

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
id        600000 non-null int64
bin_0     582106 non-null float64
bin_1     581997 non-null float64
bin_2     582070 non-null float64
bin_3     581986 non-null object
bin_4     581953 non-null object
nom_0     581748 non-null object
nom_1     581844 non-null object
nom_2     581965 non-null object
nom_3     581879 non-null object
nom_4     581965 non-null object
nom_5     582222 non-null object
nom_6     581869 non-null object
nom_7     581997 non-null object
nom_8     582245 non-null object
nom_9     581927 non-null object
ord_0     581712 non-null float64
ord_1     581959 non-null object
ord_2     581925 non-null object
ord_3     582084 non-null object
ord_4     582070 non-null object
ord_5     582287 non-null object
day       582048 non-null float64
month     582012 non-null float64
target    600000 non-null int64
dtypes: float64(6), int64(2), object(17)
memory usage: 75.5+ MB

#### Dropping NAN values

In [9]:
data.isnull().sum()

id            0
bin_0     17894
bin_1     18003
bin_2     17930
bin_3     18014
bin_4     18047
nom_0     18252
nom_1     18156
nom_2     18035
nom_3     18121
nom_4     18035
nom_5     17778
nom_6     18131
nom_7     18003
nom_8     17755
nom_9     18073
ord_0     18288
ord_1     18041
ord_2     18075
ord_3     17916
ord_4     17930
ord_5     17713
day       17952
month     17988
target        0
dtype: int64

In [10]:
print(f'Before dropping NAN shape: {data.shape}')
data.dropna(inplace=True)
print(f'After dropping NAN shape: {data.shape}')

Before dropping NAN shape: (600000, 25)
After dropping NAN shape: (298042, 25)

In [3]:
cat_data.dropna(inplace=True)

### First focussing on `object` type columns

In [9]:
cat_data = data.select_dtypes(include='object').copy()

In [10]:
cat_data.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,Contributor,Hot,c,U,Pw
6,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,Grandmaster,Cold,c,R,rg
7,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,Expert,Cold,b,Y,PS
10,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,Novice,Hot,b,O,hG
11,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,Contributor,Hot,b,M,xF

#### 1. Binary encoding -  Replacing by 1 and 0
2 ways to achieve this:
1. Using `map()` function
2. Using 'LabelEncoder`

In [4]:
# 1. using map() function
cat_data['bin_3'].map({'F': 0, 'T': 1})

0         0
6         0
7         1
10        1
11        0
         ..
599990    0
599991    1
599992    1
599993    0
599997    0
Name: bin_3, Length: 298042, dtype: int64

In [5]:
cat_data['bin_4'].map({'N': 0, 'Y': 1})

0         0
6         0
7         0
10        1
11        1
         ..
599990    1
599991    0
599992    0
599993    0
599997    1
Name: bin_4, Length: 298042, dtype: int64

In [6]:
# 2. Using LabelEncoder
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
label_encoder.fit_transform(cat_data['bin_3'])

array([0, 0, 1, ..., 1, 0, 0])

In [7]:
label_encoder.fit_transform(cat_data['bin_4'])

array([0, 0, 0, ..., 0, 0, 1])

#### To proceed apply LabelEncoder

In [8]:
cat_data['label_bin_3'] = label_encoder.fit_transform(cat_data['bin_3'])
cat_data['label_bin_4'] = label_encoder.fit_transform(cat_data['bin_4'])

In [9]:
cat_data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target,label_bin_3,label_bin_4
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,Contributor,Hot,c,U,Pw,6.0,3.0,0,0,0
6,6,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,...,Grandmaster,Cold,c,R,rg,5.0,6.0,0,0,0
7,7,0.0,0.0,1.0,T,N,Red,Triangle,Axolotl,Finland,...,Expert,Cold,b,Y,PS,1.0,1.0,0,1,0
10,10,0.0,0.0,1.0,T,Y,Blue,Triangle,Hamster,Finland,...,Novice,Hot,b,O,hG,7.0,5.0,1,1,1
11,11,0.0,0.0,1.0,F,Y,Red,Square,Hamster,Costa Rica,...,Contributor,Hot,b,M,xF,2.0,8.0,0,0,1

In [10]:
cat_data.nunique()

id             298042
bin_0               2
bin_1               2
bin_2               2
bin_3               2
bin_4               2
nom_0               3
nom_1               6
nom_2               6
nom_3               6
nom_4               4
nom_5            1219
nom_6            1519
nom_7             222
nom_8             222
nom_9            2217
ord_0               3
ord_1               5
ord_2               6
ord_3              15
ord_4              26
ord_5             190
day                 7
month              12
target              2
label_bin_3         2
label_bin_4         2
dtype: int64

#### It can be observed that nom_0, nom_1, nom_2, nom_3, nom_4 have less cardinality so we can apply One hot encoding

In [11]:
nom_0_df = pd.get_dummies(cat_data['nom_0'], prefix='nom_0_', drop_first=True)
nom_1_df = pd.get_dummies(cat_data['nom_1'], prefix='nom_1_', drop_first=True)
nom_2_df = pd.get_dummies(cat_data['nom_2'], prefix='nom_2_', drop_first=True)
nom_3_df = pd.get_dummies(cat_data['nom_3'], prefix='nom_3_', drop_first=True)
nom_4_df = pd.get_dummies(cat_data['nom_4'], prefix='nom_4_', drop_first=True)

In [12]:
cat_data = pd.concat([cat_data, nom_0_df, nom_1_df, nom_2_df, nom_3_df, nom_4_df], axis=1)
cat_data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,0,0,0,0,0,0,1,0,0,0
6,6,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,...,0,0,0,1,0,0,0,0,0,0
7,7,0.0,0.0,1.0,T,N,Red,Triangle,Axolotl,Finland,...,0,0,0,0,1,0,0,0,0,0
10,10,0.0,0.0,1.0,T,Y,Blue,Triangle,Hamster,Finland,...,0,0,0,0,1,0,0,0,0,0
11,11,0.0,0.0,1.0,F,Y,Red,Square,Hamster,Costa Rica,...,0,0,0,1,0,0,0,1,0,0

#### Working on high cardinality nominal variables
nom_5, nom_6, nom_7, nom_8, nom_9

In [13]:
cat_data[['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9']].head()

        nom_5      nom_6      nom_7      nom_8      nom_9
0   de4c57ee2  a64bc7ddf  598080a91  0256c7a4b  02e7c8990
6   87a5be0d7  cdc35bd00  1cba571fa  b8e63cace  4d3766412
7   104aee31d  2a50808ba  81d67e1bb  bd9643a20  a651dec43
10  8bd03e713  0d8c9ee63  93360bbc9  28869f8aa  9bfe3ee22
11  b574c9841  494b565c1  088aace2d  74a092964  6c73b62e4

In [14]:
cat_data['nom_5'].value_counts()

4d701cd2a    524
edd08fbe3    511
251c8292d    509
3ad40eeef    505
c8a903ab9    501
            ...
44a2e6186      3
7335087fd      2
30019ce8a      2
b3ad70fcb      1
d6bb2181a      1
Name: nom_5, Length: 1219, dtype: int64

In [15]:
cat_data['nom_6'].value_counts()

840e7f4b5    421
2b94ada45    412
bacb39773    410
32e9bd1ff    410
72ccba7a4    410
            ...
f0732a795      2
ee6983c6d      2
3a121fefb      1
d6ea07c05      1
a18f02793      1
Name: nom_6, Length: 1519, dtype: int64

In [16]:
cat_data['nom_7'].value_counts()

c79d2197d    2610
4ae48e857    2588
a7059911d    2531
41901460a    2522
3d9d8f526    2517
             ...
b39008216      98
1828818ab      83
75d0e3ef8      62
e9c57c4aa      40
deec583dd      39
Name: nom_7, Length: 222, dtype: int64

In [17]:
cat_data['nom_8'].value_counts()

15f03b1f4    2573
5859a8a06    2544
d7e75499d    2542
7d7c02c57    2542
d1c6bb70d    2527
             ...
4584d6fcd     103
4348381e1     101
607c26084      89
115d9fd8b      55
6492aecc3      35
Name: nom_8, Length: 222, dtype: int64

In [18]:
cat_data['nom_9'].value_counts()

8f3276a6e    312
6dcca2a25    306
f37df64af    298
622c2b209    294
6338594e0    292
            ...
1538d82e9      1
432e3fc6a      1
68a201317      1
5f565a682      1
47a0cd9da      1
Name: nom_9, Length: 2217, dtype: int64

#### Above we can notice that the difference between the frequencies is large hence we go with Binary encoding

In [19]:
from category_encoders import BinaryEncoder

In [20]:
be = BinaryEncoder(cols=['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9'], drop_invariant=True)
cat_data = be.fit_transform(cat_data)

#### The Binary encoding and one hot encoding results in sparse features, so we should store them in spare matrix using `scipy.sparse` class

In [21]:
cat_data.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5_1', 'nom_5_2', 'nom_5_3', 'nom_5_4',
       'nom_5_5', 'nom_5_6', 'nom_5_7', 'nom_5_8', 'nom_5_9', 'nom_5_10',
       'nom_5_11', 'nom_6_1', 'nom_6_2', 'nom_6_3', 'nom_6_4', 'nom_6_5',
       'nom_6_6', 'nom_6_7', 'nom_6_8', 'nom_6_9', 'nom_6_10', 'nom_6_11',
       'nom_7_1', 'nom_7_2', 'nom_7_3', 'nom_7_4', 'nom_7_5', 'nom_7_6',
       'nom_7_7', 'nom_7_8', 'nom_8_1', 'nom_8_2', 'nom_8_3', 'nom_8_4',
       'nom_8_5', 'nom_8_6', 'nom_8_7', 'nom_8_8', 'nom_9_1', 'nom_9_2',
       'nom_9_3', 'nom_9_4', 'nom_9_5', 'nom_9_6', 'nom_9_7', 'nom_9_8',
       'nom_9_9', 'nom_9_10', 'nom_9_11', 'nom_9_12', 'ord_0', 'ord_1',
       'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month', 'target',
       'label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin'],
      dtype='object')

In [22]:
cat_data.nunique()

id                 298042
bin_0                   2
bin_1                   2
bin_2                   2
bin_3                   2
                    ...
nom_3__India            2
nom_3__Russia           2
nom_4__Oboe             2
nom_4__Piano            2
nom_4__Theremin         2
Length: 92, dtype: int64

In [23]:
cat_data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,...,0,0,0,0,0,0,1,0,0,0
6,6,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,...,0,0,0,1,0,0,0,0,0,0
7,7,0.0,0.0,1.0,T,N,Red,Triangle,Axolotl,Finland,...,0,0,0,0,1,0,0,0,0,0
10,10,0.0,0.0,1.0,T,Y,Blue,Triangle,Hamster,Finland,...,0,0,0,0,1,0,0,0,0,0
11,11,0.0,0.0,1.0,F,Y,Red,Square,Hamster,Costa Rica,...,0,0,0,1,0,0,0,1,0,0

#### Encoding ord_1 column

In [24]:
cat_data['ord_1'].unique()

array(['Contributor', 'Grandmaster', 'Expert', 'Novice', 'Master'],
      dtype=object)

In [25]:
cat_data['ord_1_label'] = cat_data['ord_1'].map({'Novice':  0, 'Contributor': 1, 'Expert': 2, 'Master': 3, 'Grandmaster': 4})

#### Encoding ord_2 column

In [26]:
cat_data['ord_2'].unique()

array(['Hot', 'Cold', 'Lava Hot', 'Freezing', 'Boiling Hot', 'Warm'],
      dtype=object)

In [27]:
cat_data['ord_2_label'] = cat_data['ord_2'].map({'Freezing':  0, 'Cold': 1, 'Warm': 2, 'Hot': 3, 'Boiling Hot': 4, 'Lava Hot': 5})

#### Encoding ord_3 column

In [28]:
cat_data['ord_3'].unique()

array(['c', 'b', 'h', 'n', 'm', 'o', 'a', 'k', 'd', 'e', 'f', 'g', 'i',
       'j', 'l'], dtype=object)

In [29]:
cat_data['ord_3_label'] = label_encoder.fit_transform(cat_data['ord_3'])

#### Encoding ord_4 column

In [30]:
cat_data['ord_4'].unique()

array(['U', 'R', 'Y', 'O', 'M', 'C', 'E', 'N', 'B', 'Q', 'T', 'A', 'X',
       'H', 'I', 'F', 'P', 'W', 'D', 'K', 'S', 'L', 'J', 'G', 'Z', 'V'],
      dtype=object)

In [31]:
cat_data['ord_4_label'] = label_encoder.fit_transform(cat_data['ord_4'])

#### Encoding ord_5 column

In [32]:
cat_data['ord_5'].unique()

array(['Pw', 'rg', 'PS', 'hG', 'xF', 'Nh', 'RV', 'iS', 'Ib', 'nS', 'sf',
       'Fl', 'US', 'RD', 'oI', 'DN', 'IS', 'vq', 'eN', 'wa', 'mi', 'th',
       'Ey', 'Mg', 'Dj', 'dh', 'TH', 'SS', 'tT', 'Wr', 'rM', 'Pk', 'UV',
       'RT', 'ok', 'oh', 'JT', 'XC', 'lA', 'XM', 'mo', 'AG', 'Bx', 'MV',
       'Rj', 'Iq', 'LS', 'vx', 'MX', 'BX', 'us', 'Hk', 'ly', 'nj', 'TZ',
       'oJ', 'aE', 'rA', 'Ji', 'qN', 'OZ', 'gL', 'kT', 'iv', 'be', 'XR',
       'Rv', 'nn', 'EC', 'sc', 'AU', 'pB', 'ur', 'DR', 'jf', 'Rz', 'AW',
       'In', 'Kq', 'cY', 'uZ', 'rl', 'ze', 'zc', 'Tz', 'Sz', 'XU', 'TL',
       'hT', 'xB', 'LY', 'gj', 'AI', 'cy', 'vw', 'pl', 'ep', 'zp', 'BL',
       'sF', 'lS', 'Ay', 'Re', 'mP', 'YJ', 'gc', 'DT', 'cR', 'al', 'qP',
       'ne', 'tn', 'xG', 'pE', 'GZ', 'wJ', 'dp', 'OM', 'TP', 'QV', 'lR',
       'fV', 'Ox', 'HF', 'WW', 'Ro', 'hx', 'uQ', 'CU', 'fe', 'yE', 'NS',
       'pT', 'DI', 'mX', 'Yi', 'Yb', 'Lo', 'yK', 'wU', 'kB', 'HK', 'kv',
       'FH', 'IA', 'zf', 'fF', 'Ty', 'oU', 'NT', 'mD', 'aA', 'JQ', 'cg',
       'gt', 'CN', 'Yr', 'Qm', 'pZ', 'Mq', 'Cn', 'jp', 'sY', 'ja', 'Tg',
       'gK', 'MU', 'uP', 'WC', 'Oe', 'XI', 'Sk', 'FB', 'uW', 'fO', 'MF',
       'Io', 'HO', 'RB', 'nf', 'ht', 'uI', 'SL', 'kP', 'PG', 'eA', 'gV',
       'Dn', 'Zv', 'vQ'], dtype=object)

In [33]:
cat_data['ord_5_label'] = label_encoder.fit_transform(cat_data['ord_5'])

In [34]:
cat_data.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5_1', 'nom_5_2', 'nom_5_3', 'nom_5_4',
       'nom_5_5', 'nom_5_6', 'nom_5_7', 'nom_5_8', 'nom_5_9', 'nom_5_10',
       'nom_5_11', 'nom_6_1', 'nom_6_2', 'nom_6_3', 'nom_6_4', 'nom_6_5',
       'nom_6_6', 'nom_6_7', 'nom_6_8', 'nom_6_9', 'nom_6_10', 'nom_6_11',
       'nom_7_1', 'nom_7_2', 'nom_7_3', 'nom_7_4', 'nom_7_5', 'nom_7_6',
       'nom_7_7', 'nom_7_8', 'nom_8_1', 'nom_8_2', 'nom_8_3', 'nom_8_4',
       'nom_8_5', 'nom_8_6', 'nom_8_7', 'nom_8_8', 'nom_9_1', 'nom_9_2',
       'nom_9_3', 'nom_9_4', 'nom_9_5', 'nom_9_6', 'nom_9_7', 'nom_9_8',
       'nom_9_9', 'nom_9_10', 'nom_9_11', 'nom_9_12', 'ord_0', 'ord_1',
       'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month', 'target',
       'label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'ord_3_label', 'ord_4_label', 'ord_5_label'],
      dtype='object')

In [35]:
cols_to_drop = ['bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'id']
cat_data.drop(columns=cols_to_drop, axis=1, inplace=True)

In [36]:
cat_data.head()

,bin_0,bin_1,bin_2,nom_5_1,nom_5_2,nom_5_3,nom_5_4,nom_5_5,nom_5_6,nom_5_7,...,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin,ord_1_label,ord_2_label,ord_3_label,ord_4_label,ord_5_label
0,0.0,0.0,0.0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,3,2,20,56
6,0.0,0.0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,1,2,17,158
7,0.0,0.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,1,1,24,54
10,0.0,0.0,1.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3,1,14,117
11,0.0,0.0,1.0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,3,1,12,182

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(cat_data[cat_data.columns.difference(['target'])], cat_data['target'], test_size=0.33, random_state=1)

In [42]:
del cat_data

In [43]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((199688, 83), (98354, 83), (199688,), (98354,))

In [45]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)

MemoryError: Unable to allocate array with shape (199688, 83) and data type float64

In [43]:
import category_encoders as ce

In [44]:
label_encoder = ce

In [45]:
cat_data.nunique()

MemoryError: Unable to allocate array with shape (89, 298042) and data type object