# Hey Good Morning Guys,

## Here is the assignment part 1 with basic level while go day wise level will increase.

### Where in first part we have worked on small dataset to analyze how effective is encoding while building any model & this all dataset our open sourced & from wednesday will increase the level with custom dataset.

# Before you apply any Encoding Technique,you shoul think like::
### 1.)Why Label Encoding?
### 2.)When & where to use?
### 3.)Limitation of Label Encoding?
### 4.)Advantage of Label Encoding?

## You should ask from yourself with every topic tha you are applying to make it clear with depth & praactice aat the same time.

In [1]:
#import all the necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import warnings

warnings.filterwarnings('ignore')

# from google.colab import files
# uploaded = files.upload()

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Define the headers since the data does not have any
headers = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration",
           "num_doors", "body_style", "drive_wheels", "engine_location",
           "wheel_base", "length", "width", "height", "curb_weight",
           "engine_type", "num_cylinders", "engine_size", "fuel_system",
           "bore", "stroke", "compression_ratio", "horsepower", "peak_rpm",
           "city_mpg", "highway_mpg", "price"]

# Read in the CSV file and convert "?" to NaN
df = pd.read_csv("http://mlr.cs.umass.edu/ml/machine-learning-databases/autos/imports-85.data",
                  header=None, names=headers, na_values="?" )
df.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [3]:
df.info() #check info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_doors          203 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_cylinders      205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               201 non-null    float64
 19  stroke             201 non-null    float64
 20  compression_ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak_rpm           203 non-null    float64
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

In [4]:
#check the null value
df.isnull().sum()

symboling             0
normalized_losses    41
make                  0
fuel_type             0
aspiration            0
num_doors             2
body_style            0
drive_wheels          0
engine_location       0
wheel_base            0
length                0
width                 0
height                0
curb_weight           0
engine_type           0
num_cylinders         0
engine_size           0
fuel_system           0
bore                  4
stroke                4
compression_ratio     0
horsepower            2
peak_rpm              2
city_mpg              0
highway_mpg           0
price                 4
dtype: int64

In [0]:
new_data = df.dropna(axis=0,how='any') #drop the null  values

In [6]:
new_data.isnull().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_doors            0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_cylinders        0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [0]:
y = new_data['price']   #dependent variables
X = new_data.drop('price',axis=1)  #independent variables

In [8]:
X.shape, y.shape  #check the shape of x and y

((159, 25), (159,))

In [0]:
#split the data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
#check shape of train and test data
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(127, 25) (127,)
(32, 25) (32,)

# Why do we use encoding technique ?

### We use encoding techniques as machine learning models won't take the raw string as input. If we try to run the Linear regression model here without any encoding we will get errors. Let's try to run without encoding and see what result will we get.

In [0]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
# model.fit(X_train,Y_train)

## We have got error saying could not convert string to float. So before giving the varibales to the model we have to encode them

In [12]:
#select all the categorical columns
obj_df = new_data.select_dtypes(include=['object']).copy()
obj_df.head()

    make fuel_type aspiration  ... engine_type num_cylinders fuel_system
3   audi       gas        std  ...         ohc          four        mpfi
4   audi       gas        std  ...         ohc          five        mpfi
6   audi       gas        std  ...         ohc          five        mpfi
8   audi       gas      turbo  ...         ohc          five        mpfi
10   bmw       gas        std  ...         ohc          four        mpfi

[5 rows x 10 columns]

In [13]:
#We will use One hot encoding to convert all the categorical features
#Here the biggest mistake we are making is just applying one hot encoding blindly without figuring out ordinal & nominal feature.
dum = pd.get_dummies(obj_df,drop_first=True)
dum.head()

    make_bmw  make_chevrolet  ...  fuel_system_mpfi  fuel_system_spdi
3          0               0  ...                 1                 0
4          0               0  ...                 1                 0
6          0               0  ...                 1                 0
8          0               0  ...                 1                 0
10         1               0  ...                 1                 0

[5 rows x 39 columns]

In [0]:
#drop the categorical column from new data
new_df = new_data.drop(obj_df.columns,axis=1)

In [15]:
#concat dum with new_df
new_dum = pd.concat([new_df,dum],axis=1)
new_dum.head()

    symboling  normalized_losses  ...  fuel_system_mpfi  fuel_system_spdi
3           2              164.0  ...                 1                 0
4           2              164.0  ...                 1                 0
6           1              158.0  ...                 1                 0
8           1              158.0  ...                 1                 0
10          2              192.0  ...                 1                 0

[5 rows x 55 columns]

In [0]:
y = new_dum['price']   #dependent variables
X = new_dum.drop('price',axis=1)  #independent variables

In [0]:
#split inot training and testing
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [24]:
#fit the regression model 
model.fit(X_train,Y_train)
predict = model.predict(X_test)
model.score(X_test,Y_test)

0.8080831831623411

# We have got 80% accuracy Can we prove our model performance by encoding ?

## If you notice in dataset we have applied one hot encoding on all the features, but we use one hot encoding only for nominal data. In our dataset we have feature column num_cylinders (Number of cylinders) . It is a ordinal variable, let's apply label encoding on it and see if we can improve our accuracy.

# What we learn in this notebook?

## Is that we have to figure out ordinal & nominal feature to apply accurate Encoding Technique.

In [0]:
#apply label encoding on num_cylinders
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label = le.fit_transform(obj_df['num_cylinders'])

#drop older dum_cylinders from dum
dum_lab = dum.drop(dum[['num_cylinders_five', 'num_cylinders_four','num_doors_two',
                        'num_cylinders_six', 'num_cylinders_three']],axis=1)

#add the newly LabelEncoded num_cylinders column
dum_lab['num_cylinders'] = label

In [0]:
a = pd.concat([new_df,dum_lab],axis=1)
a.head()

In [0]:
#concat dum_lab with new_df
new_dum_lab = pd.concat([new_df,dum_lab],axis=1)
new_dum_lab.head()

In [0]:
y = new_dum_lab['price']   #dependent variables
X = new_dum_lab.drop('price',axis=1)  #independent variables

In [0]:
#split inot training and testing
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [0]:
#fit the regression model 
model.fit(X_train,Y_train)
predict = model.predict(X_test)
model.score(X_test,Y_test)

## Our Accuracy has increased from 80% to 81% by using label encoding. We should be always careful with the encoding technique we choose as by using right encoding method we can increase the accuracy of our model

# Assignment Part

In [0]:
data=pd.read_csv('encoding.csv')

In [26]:
data.head(2)

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0.0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0.0

# As you can observe from the above dataset 'encoding.csv' all columns are not visibe, try to write a code using pandas to unhide all columns.

In [0]:
pd.options.display.max_rows = 7

In [28]:
pd.options.display.max_columns = None
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0.0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0.0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0.0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0.0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0.0

# What you have to do with above dataset?

## Try to figure out all categorical features, apply technique that we have learned while at the same time use any simple model & try to analyze the effect of different techniques on ML Model.

# You can drop all NAN values & observe the change by applying different encoding techniques

# Solution

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74259 entries, 0 to 74258
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      74259 non-null  int64
 1   bin_0   72028 non-null  float64
 2   bin_1   71991 non-null  float64
 3   bin_2   72067 non-null  float64
 4   bin_3   72094 non-null  object
 5   bin_4   72011 non-null  object
 6   nom_0   71986 non-null  object
 7   nom_1   72010 non-null  object
 8   nom_2   72041 non-null  object
 9   nom_3   72005 non-null  object
 10  nom_4   71928 non-null  object
 11  nom_5   72055 non-null  object
 12  nom_6   72046 non-null  object
 13  nom_7   72003 non-null  object
 14  nom_8   72078 non-null  object
 15  nom_9   71992 non-null  object
 16  ord_0   72020 non-null  float64
 17  ord_1   72015 non-null  object
 18  ord_2   72057 non-null  object
 19  ord_3   72015 non-null  object
 20  ord_4   72121 non-null  object
 21  ord_5   72042 non-null  object
 22  day     71949 non-null  float64
 23  month   72080 non-null  float64
 24  target  74258 non-null  float64
dtypes: float64(7), int64(1), object(17)
memory usage: 14.2+ MB

#### Dropping NAN values

In [30]:
data.isnull().sum()

id           0
bin_0     2231
bin_1     2268
          ...
day       2310
month     2179
target       1
Length: 25, dtype: int64

In [31]:
print(f'Before dropping NAN shape: {data.shape}')
data.dropna(inplace=True)
print(f'After dropping NAN shape: {data.shape}')

Before dropping NAN shape: (74259, 25)
After dropping NAN shape: (36877, 25)

In [0]:
# cat_data.dropna(inplace=True)

### First focussing on `object` type columns

In [33]:
cat_data = data.select_dtypes(include='object').copy()
cat_data.shape

(36877, 17)

In [34]:
cat_data.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,Contributor,Hot,c,U,Pw
6,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,Grandmaster,Cold,c,R,rg
7,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,Expert,Cold,b,Y,PS
10,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,Novice,Hot,b,O,hG
11,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,Contributor,Hot,b,M,xF

#### 1. Binary encoding -  Replacing by 1 and 0
2 ways to achieve this:
1. Using `map()` function
2. Using 'LabelEncoder`

In [35]:
# 1. using map() function
cat_data['bin_3'].map({'F': 0, 'T': 1})

0        0
6        0
7        1
        ..
74255    0
74256    1
74257    1
Name: bin_3, Length: 36877, dtype: int64

In [36]:
cat_data['bin_4'].map({'N': 0, 'Y': 1})

0        0
6        0
7        0
        ..
74255    0
74256    1
74257    0
Name: bin_4, Length: 36877, dtype: int64

In [37]:
# 2. Using LabelEncoder
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
label_encoder.fit_transform(cat_data['bin_3'])

array([0, 0, 1, ..., 0, 1, 1])

In [38]:
label_encoder.fit_transform(cat_data['bin_4'])

array([0, 0, 0, ..., 0, 1, 0])

#### To proceed apply LabelEncoder

In [0]:
cat_data['label_bin_3'] = label_encoder.fit_transform(cat_data['bin_3'])
cat_data['label_bin_4'] = label_encoder.fit_transform(cat_data['bin_4'])

In [40]:
cat_data.head(), cat_data.shape

(   bin_3 bin_4 nom_0      nom_1    nom_2       nom_3    nom_4      nom_5  \
 0      F     N   Red  Trapezoid  Hamster      Russia  Bassoon  de4c57ee2
 6      F     N   Red   Triangle  Hamster  Costa Rica  Bassoon  87a5be0d7
 7      T     N   Red   Triangle  Axolotl     Finland  Bassoon  104aee31d
 10     T     Y  Blue   Triangle  Hamster     Finland  Bassoon  8bd03e713
 11     F     Y   Red     Square  Hamster  Costa Rica     Oboe  b574c9841

         nom_6      nom_7      nom_8      nom_9        ord_1 ord_2 ord_3 ord_4  \
 0   a64bc7ddf  598080a91  0256c7a4b  02e7c8990  Contributor   Hot     c     U
 6   cdc35bd00  1cba571fa  b8e63cace  4d3766412  Grandmaster  Cold     c     R
 7   2a50808ba  81d67e1bb  bd9643a20  a651dec43       Expert  Cold     b     Y
 10  0d8c9ee63  93360bbc9  28869f8aa  9bfe3ee22       Novice   Hot     b     O
 11  494b565c1  088aace2d  74a092964  6c73b62e4  Contributor   Hot     b     M

    ord_5  label_bin_3  label_bin_4
 0     Pw            0            0
 6     rg            0            0
 7     PS            1            0
 10    hG            1            1
 11    xF            0            1  , (36877, 19))

In [41]:
cat_data.nunique()

bin_3            2
bin_4            2
nom_0            3
              ...
ord_5          190
label_bin_3      2
label_bin_4      2
Length: 19, dtype: int64

#### It can be observed that nom_0, nom_1, nom_2, nom_3, nom_4 have less cardinality so we can apply One hot encoding

In [0]:
nom_0_df = pd.get_dummies(cat_data['nom_0'], prefix='nom_0_', drop_first=True)
nom_1_df = pd.get_dummies(cat_data['nom_1'], prefix='nom_1_', drop_first=True)
nom_2_df = pd.get_dummies(cat_data['nom_2'], prefix='nom_2_', drop_first=True)
nom_3_df = pd.get_dummies(cat_data['nom_3'], prefix='nom_3_', drop_first=True)
nom_4_df = pd.get_dummies(cat_data['nom_4'], prefix='nom_4_', drop_first=True)

In [43]:
cat_data = pd.concat([cat_data, nom_0_df, nom_1_df, nom_2_df, nom_3_df, nom_4_df], axis=1)
cat_data.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,label_bin_3,label_bin_4,nom_0__Green,nom_0__Red,nom_1__Polygon,nom_1__Square,nom_1__Star,nom_1__Trapezoid,nom_1__Triangle,nom_2__Cat,nom_2__Dog,nom_2__Hamster,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,Contributor,Hot,c,U,Pw,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
6,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,Grandmaster,Cold,c,R,rg,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
7,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,Expert,Cold,b,Y,PS,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
10,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,Novice,Hot,b,O,hG,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
11,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,Contributor,Hot,b,M,xF,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0

#### Working on high cardinality nominal variables
nom_5, nom_6, nom_7, nom_8, nom_9

In [44]:
cat_data[['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9']].head()

        nom_5      nom_6      nom_7      nom_8      nom_9
0   de4c57ee2  a64bc7ddf  598080a91  0256c7a4b  02e7c8990
6   87a5be0d7  cdc35bd00  1cba571fa  b8e63cace  4d3766412
7   104aee31d  2a50808ba  81d67e1bb  bd9643a20  a651dec43
10  8bd03e713  0d8c9ee63  93360bbc9  28869f8aa  9bfe3ee22
11  b574c9841  494b565c1  088aace2d  74a092964  6c73b62e4

In [45]:
cat_data['nom_5'].value_counts()

c8a903ab9    78
b7f006bec    75
39879cc3e    74
             ..
e8dca2f17     1
b86ec5bff     1
f00b62582     1
Name: nom_5, Length: 1207, dtype: int64

In [46]:
cat_data['nom_6'].value_counts()

5afc91042    64
2b94ada45    62
aaeae365f    61
             ..
22d978806     1
99f4e90fe     1
103b29fc6     1
Name: nom_6, Length: 1493, dtype: int64

In [47]:
cat_data['nom_7'].value_counts()

81d67e1bb    334
c79d2197d    329
1dddb8473    327
            ...
75d0e3ef8      8
deec583dd      6
e9c57c4aa      2
Name: nom_7, Length: 222, dtype: int64

In [48]:
cat_data['nom_8'].value_counts()

587840371    352
7d7c02c57    335
15f03b1f4    332
            ...
115d9fd8b      8
607c26084      6
6492aecc3      2
Name: nom_8, Length: 222, dtype: int64

In [49]:
cat_data['nom_9'].value_counts()

5a93db805    50
b9b1cd7f3    49
e66418003    46
             ..
46bd8c521     1
fcaa447ad     1
47ea47b5f     1
Name: nom_9, Length: 2164, dtype: int64

#### Above we can notice that the difference between the frequencies is large hence we go with Binary encoding

In [50]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     || 81kB 2.2MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.4)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.15.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [0]:
from category_encoders import BinaryEncoder

In [52]:
cat_data.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5,label_bin_3,label_bin_4,nom_0__Green,nom_0__Red,nom_1__Polygon,nom_1__Square,nom_1__Star,nom_1__Trapezoid,nom_1__Triangle,nom_2__Cat,nom_2__Dog,nom_2__Hamster,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,Contributor,Hot,c,U,Pw,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
6,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,Grandmaster,Cold,c,R,rg,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
7,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,Expert,Cold,b,Y,PS,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
10,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,Novice,Hot,b,O,hG,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
11,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,Contributor,Hot,b,M,xF,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0

In [0]:
be = BinaryEncoder(cols=['nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9'], drop_invariant=True)
cat_data = be.fit_transform(cat_data)

#### The Binary encoding and one hot encoding results in sparse features, so we should store them in spare matrix using `scipy.sparse` class

In [54]:
cat_data.columns, cat_data.shape

(Index(['bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4',
        'nom_5_1', 'nom_5_2', 'nom_5_3', 'nom_5_4', 'nom_5_5', 'nom_5_6',
        'nom_5_7', 'nom_5_8', 'nom_5_9', 'nom_5_10', 'nom_5_11', 'nom_6_1',
        'nom_6_2', 'nom_6_3', 'nom_6_4', 'nom_6_5', 'nom_6_6', 'nom_6_7',
        'nom_6_8', 'nom_6_9', 'nom_6_10', 'nom_6_11', 'nom_7_1', 'nom_7_2',
        'nom_7_3', 'nom_7_4', 'nom_7_5', 'nom_7_6', 'nom_7_7', 'nom_7_8',
        'nom_8_1', 'nom_8_2', 'nom_8_3', 'nom_8_4', 'nom_8_5', 'nom_8_6',
        'nom_8_7', 'nom_8_8', 'nom_9_1', 'nom_9_2', 'nom_9_3', 'nom_9_4',
        'nom_9_5', 'nom_9_6', 'nom_9_7', 'nom_9_8', 'nom_9_9', 'nom_9_10',
        'nom_9_11', 'nom_9_12', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5',
        'label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
        'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
        'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
        'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
        'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
        'nom_4__Piano', 'nom_4__Theremin'],
       dtype='object'), (36877, 84))

In [55]:
cat_data.nunique()

bin_3              2
bin_4              2
nom_0              3
                  ..
nom_4__Oboe        2
nom_4__Piano       2
nom_4__Theremin    2
Length: 84, dtype: int64

In [56]:
cat_data.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5_1,nom_5_2,nom_5_3,nom_5_4,nom_5_5,nom_5_6,nom_5_7,nom_5_8,nom_5_9,nom_5_10,nom_5_11,nom_6_1,nom_6_2,nom_6_3,nom_6_4,nom_6_5,nom_6_6,nom_6_7,nom_6_8,nom_6_9,nom_6_10,nom_6_11,nom_7_1,nom_7_2,nom_7_3,nom_7_4,nom_7_5,nom_7_6,nom_7_7,nom_7_8,nom_8_1,nom_8_2,nom_8_3,nom_8_4,nom_8_5,nom_8_6,nom_8_7,nom_8_8,nom_9_1,nom_9_2,nom_9_3,nom_9_4,nom_9_5,nom_9_6,nom_9_7,nom_9_8,nom_9_9,nom_9_10,nom_9_11,nom_9_12,ord_1,ord_2,ord_3,ord_4,ord_5,label_bin_3,label_bin_4,nom_0__Green,nom_0__Red,nom_1__Polygon,nom_1__Square,nom_1__Star,nom_1__Trapezoid,nom_1__Triangle,nom_2__Cat,nom_2__Dog,nom_2__Hamster,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,Contributor,Hot,c,U,Pw,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
6,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,Grandmaster,Cold,c,R,rg,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
7,T,N,Red,Triangle,Axolotl,Finland,Bassoon,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,Expert,Cold,b,Y,PS,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
10,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,Novice,Hot,b,O,hG,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
11,F,Y,Red,Square,Hamster,Costa Rica,Oboe,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,Contributor,Hot,b,M,xF,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0

#### Encoding ord_1 column

In [57]:
cat_data['ord_1'].unique()

array(['Contributor', 'Grandmaster', 'Expert', 'Novice', 'Master'],
      dtype=object)

In [0]:
cat_data['ord_1_label'] = cat_data['ord_1'].map({'Novice':  0, 'Contributor': 1, 'Expert': 2, 'Master': 3, 'Grandmaster': 4})

#### Encoding ord_2 column

In [59]:
cat_data['ord_2'].unique()

array(['Hot', 'Cold', 'Lava Hot', 'Freezing', 'Boiling Hot', 'Warm'],
      dtype=object)

In [0]:
cat_data['ord_2_label'] = cat_data['ord_2'].map({'Freezing':  0, 'Cold': 1, 'Warm': 2, 'Hot': 3, 'Boiling Hot': 4, 'Lava Hot': 5})

#### Encoding ord_3 column

In [61]:
cat_data['ord_3'].unique()

array(['c', 'b', 'h', 'n', 'm', 'o', 'a', 'k', 'd', 'e', 'f', 'g', 'i',
       'j', 'l'], dtype=object)

In [0]:
cat_data['ord_3_label'] = label_encoder.fit_transform(cat_data['ord_3'])

#### Encoding ord_4 column

In [63]:
cat_data['ord_4'].unique()

array(['U', 'R', 'Y', 'O', 'M', 'C', 'E', 'N', 'B', 'Q', 'T', 'A', 'X',
       'H', 'I', 'F', 'P', 'W', 'D', 'K', 'S', 'L', 'J', 'G', 'Z', 'V'],
      dtype=object)

In [0]:
cat_data['ord_4_label'] = label_encoder.fit_transform(cat_data['ord_4'])

#### Encoding ord_5 column

In [65]:
cat_data['ord_5'].unique()

array(['Pw', 'rg', 'PS', 'hG', 'xF', 'Nh', 'RV', 'iS', 'Ib', 'nS', 'sf',
       'Fl', 'US', 'RD', 'oI', 'DN', 'IS', 'vq', 'eN', 'wa', 'mi', 'th',
       'Ey', 'Mg', 'Dj', 'dh', 'TH', 'SS', 'tT', 'Wr', 'rM', 'Pk', 'UV',
       'RT', 'ok', 'oh', 'JT', 'XC', 'lA', 'XM', 'mo', 'AG', 'Bx', 'MV',
       'Rj', 'Iq', 'LS', 'vx', 'MX', 'BX', 'us', 'Hk', 'ly', 'nj', 'TZ',
       'oJ', 'aE', 'rA', 'Ji', 'qN', 'OZ', 'gL', 'kT', 'iv', 'be', 'XR',
       'Rv', 'nn', 'EC', 'sc', 'AU', 'pB', 'ur', 'DR', 'jf', 'Rz', 'AW',
       'In', 'Kq', 'cY', 'uZ', 'rl', 'ze', 'zc', 'Tz', 'Sz', 'XU', 'TL',
       'hT', 'xB', 'LY', 'gj', 'AI', 'cy', 'vw', 'pl', 'ep', 'zp', 'BL',
       'sF', 'lS', 'Ay', 'Re', 'mP', 'YJ', 'gc', 'DT', 'cR', 'al', 'qP',
       'ne', 'tn', 'xG', 'pE', 'GZ', 'wJ', 'dp', 'OM', 'TP', 'QV', 'lR',
       'fV', 'Ox', 'HF', 'WW', 'Ro', 'hx', 'uQ', 'CU', 'fe', 'yE', 'NS',
       'pT', 'DI', 'mX', 'Yi', 'Yb', 'Lo', 'yK', 'wU', 'kB', 'HK', 'kv',
       'FH', 'IA', 'zf', 'fF', 'Ty', 'oU', 'NT', 'mD', 'aA', 'JQ', 'cg',
       'gt', 'CN', 'Yr', 'Qm', 'pZ', 'Mq', 'Cn', 'jp', 'sY', 'ja', 'Tg',
       'gK', 'MU', 'uP', 'WC', 'Oe', 'XI', 'Sk', 'FB', 'uW', 'fO', 'MF',
       'Io', 'HO', 'RB', 'nf', 'ht', 'uI', 'SL', 'kP', 'PG', 'eA', 'gV',
       'Dn', 'Zv', 'vQ'], dtype=object)

In [0]:
cat_data['ord_5_label'] = label_encoder.fit_transform(cat_data['ord_5'])

In [67]:
cat_data.columns

Index(['bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4',
       'nom_5_1', 'nom_5_2', 'nom_5_3', 'nom_5_4', 'nom_5_5', 'nom_5_6',
       'nom_5_7', 'nom_5_8', 'nom_5_9', 'nom_5_10', 'nom_5_11', 'nom_6_1',
       'nom_6_2', 'nom_6_3', 'nom_6_4', 'nom_6_5', 'nom_6_6', 'nom_6_7',
       'nom_6_8', 'nom_6_9', 'nom_6_10', 'nom_6_11', 'nom_7_1', 'nom_7_2',
       'nom_7_3', 'nom_7_4', 'nom_7_5', 'nom_7_6', 'nom_7_7', 'nom_7_8',
       'nom_8_1', 'nom_8_2', 'nom_8_3', 'nom_8_4', 'nom_8_5', 'nom_8_6',
       'nom_8_7', 'nom_8_8', 'nom_9_1', 'nom_9_2', 'nom_9_3', 'nom_9_4',
       'nom_9_5', 'nom_9_6', 'nom_9_7', 'nom_9_8', 'nom_9_9', 'nom_9_10',
       'nom_9_11', 'nom_9_12', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5',
       'label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'ord_3_label', 'ord_4_label', 'ord_5_label'],
      dtype='object')

In [0]:
cols_to_drop = ['bin_3', 'bin_4', 'nom_0', 'nom_1', 'nom_2', 'nom_3', 'nom_4', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']
cat_data.drop(columns=cols_to_drop, axis=1, inplace=True)

In [69]:
data.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day', 'month',
       'target'],
      dtype='object')

In [70]:
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0.0
6,6,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,1.0,Grandmaster,Cold,c,R,rg,5.0,6.0,0.0
7,7,0.0,0.0,1.0,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,3.0,Expert,Cold,b,Y,PS,1.0,1.0,0.0
10,10,0.0,0.0,1.0,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,1.0,Novice,Hot,b,O,hG,7.0,5.0,1.0
11,11,0.0,0.0,1.0,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,1.0,Contributor,Hot,b,M,xF,2.0,8.0,0.0

In [71]:
final_data = pd.concat([cat_data, data[['bin_0', 'bin_1', 'bin_2', 'ord_0', 'day', 'month', 'target']]], axis=1)
final_data.shape

(36877, 84)

In [72]:
final_data.columns

Index(['nom_5_1', 'nom_5_2', 'nom_5_3', 'nom_5_4', 'nom_5_5', 'nom_5_6',
       'nom_5_7', 'nom_5_8', 'nom_5_9', 'nom_5_10', 'nom_5_11', 'nom_6_1',
       'nom_6_2', 'nom_6_3', 'nom_6_4', 'nom_6_5', 'nom_6_6', 'nom_6_7',
       'nom_6_8', 'nom_6_9', 'nom_6_10', 'nom_6_11', 'nom_7_1', 'nom_7_2',
       'nom_7_3', 'nom_7_4', 'nom_7_5', 'nom_7_6', 'nom_7_7', 'nom_7_8',
       'nom_8_1', 'nom_8_2', 'nom_8_3', 'nom_8_4', 'nom_8_5', 'nom_8_6',
       'nom_8_7', 'nom_8_8', 'nom_9_1', 'nom_9_2', 'nom_9_3', 'nom_9_4',
       'nom_9_5', 'nom_9_6', 'nom_9_7', 'nom_9_8', 'nom_9_9', 'nom_9_10',
       'nom_9_11', 'nom_9_12', 'label_bin_3', 'label_bin_4', 'nom_0__Green',
       'nom_0__Red', 'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star',
       'nom_1__Trapezoid', 'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog',
       'nom_2__Hamster', 'nom_2__Lion', 'nom_2__Snake', 'nom_3__China',
       'nom_3__Costa Rica', 'nom_3__Finland', 'nom_3__India', 'nom_3__Russia',
       'nom_4__Oboe', 'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label',
       'ord_2_label', 'ord_3_label', 'ord_4_label', 'ord_5_label', 'bin_0',
       'bin_1', 'bin_2', 'ord_0', 'day', 'month', 'target'],
      dtype='object')

In [73]:
cat_data.head()

,nom_5_1,nom_5_2,nom_5_3,nom_5_4,nom_5_5,nom_5_6,nom_5_7,nom_5_8,nom_5_9,nom_5_10,nom_5_11,nom_6_1,nom_6_2,nom_6_3,nom_6_4,nom_6_5,nom_6_6,nom_6_7,nom_6_8,nom_6_9,nom_6_10,nom_6_11,nom_7_1,nom_7_2,nom_7_3,nom_7_4,nom_7_5,nom_7_6,nom_7_7,nom_7_8,nom_8_1,nom_8_2,nom_8_3,nom_8_4,nom_8_5,nom_8_6,nom_8_7,nom_8_8,nom_9_1,nom_9_2,nom_9_3,nom_9_4,nom_9_5,nom_9_6,nom_9_7,nom_9_8,nom_9_9,nom_9_10,nom_9_11,nom_9_12,label_bin_3,label_bin_4,nom_0__Green,nom_0__Red,nom_1__Polygon,nom_1__Square,nom_1__Star,nom_1__Trapezoid,nom_1__Triangle,nom_2__Cat,nom_2__Dog,nom_2__Hamster,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin,ord_1_label,ord_2_label,ord_3_label,ord_4_label,ord_5_label
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,3,2,20,56
6,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,4,1,2,17,158
7,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,2,1,1,24,54
10,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,3,1,14,117
11,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,3,1,12,182

In [74]:
final_data.head()

,nom_5_1,nom_5_2,nom_5_3,nom_5_4,nom_5_5,nom_5_6,nom_5_7,nom_5_8,nom_5_9,nom_5_10,nom_5_11,nom_6_1,nom_6_2,nom_6_3,nom_6_4,nom_6_5,nom_6_6,nom_6_7,nom_6_8,nom_6_9,nom_6_10,nom_6_11,nom_7_1,nom_7_2,nom_7_3,nom_7_4,nom_7_5,nom_7_6,nom_7_7,nom_7_8,nom_8_1,nom_8_2,nom_8_3,nom_8_4,nom_8_5,nom_8_6,nom_8_7,nom_8_8,nom_9_1,nom_9_2,nom_9_3,nom_9_4,nom_9_5,nom_9_6,nom_9_7,nom_9_8,nom_9_9,nom_9_10,nom_9_11,nom_9_12,label_bin_3,label_bin_4,nom_0__Green,nom_0__Red,nom_1__Polygon,nom_1__Square,nom_1__Star,nom_1__Trapezoid,nom_1__Triangle,nom_2__Cat,nom_2__Dog,nom_2__Hamster,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin,ord_1_label,ord_2_label,ord_3_label,ord_4_label,ord_5_label,bin_0,bin_1,bin_2,ord_0,day,month,target
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,3,2,20,56,0.0,0.0,0.0,3.0,6.0,3.0,0.0
6,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,4,1,2,17,158,0.0,0.0,0.0,1.0,5.0,6.0,0.0
7,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,2,1,1,24,54,0.0,0.0,1.0,3.0,1.0,1.0,0.0
10,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,3,1,14,117,0.0,0.0,1.0,1.0,7.0,5.0,1.0
11,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,3,1,12,182,0.0,0.0,1.0,1.0,2.0,8.0,0.0

In [75]:
final_data.target.unique()

array([0., 1.])

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(final_data[final_data.columns.difference(['target'])], final_data['target'], test_size=0.3, random_state=1)

In [0]:
# del cat_data

In [79]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25813, 83), (11064, 83), (25813,), (11064,))

In [80]:
from sklearn.metrics import accuracy_score

clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8092010122921186

Scaling features

In [0]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.transform(X_test)

In [82]:
clf = LogisticRegression(random_state=0).fit(X_train_minmax, y_train)
y_pred = clf.predict(X_test_minmax)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8189624005784526

In [83]:
cat_data.columns

Index(['nom_5_1', 'nom_5_2', 'nom_5_3', 'nom_5_4', 'nom_5_5', 'nom_5_6',
       'nom_5_7', 'nom_5_8', 'nom_5_9', 'nom_5_10', 'nom_5_11', 'nom_6_1',
       'nom_6_2', 'nom_6_3', 'nom_6_4', 'nom_6_5', 'nom_6_6', 'nom_6_7',
       'nom_6_8', 'nom_6_9', 'nom_6_10', 'nom_6_11', 'nom_7_1', 'nom_7_2',
       'nom_7_3', 'nom_7_4', 'nom_7_5', 'nom_7_6', 'nom_7_7', 'nom_7_8',
       'nom_8_1', 'nom_8_2', 'nom_8_3', 'nom_8_4', 'nom_8_5', 'nom_8_6',
       'nom_8_7', 'nom_8_8', 'nom_9_1', 'nom_9_2', 'nom_9_3', 'nom_9_4',
       'nom_9_5', 'nom_9_6', 'nom_9_7', 'nom_9_8', 'nom_9_9', 'nom_9_10',
       'nom_9_11', 'nom_9_12', 'label_bin_3', 'label_bin_4', 'nom_0__Green',
       'nom_0__Red', 'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star',
       'nom_1__Trapezoid', 'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog',
       'nom_2__Hamster', 'nom_2__Lion', 'nom_2__Snake', 'nom_3__China',
       'nom_3__Costa Rica', 'nom_3__Finland', 'nom_3__India', 'nom_3__Russia',
       'nom_4__Oboe', 'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label',
       'ord_2_label', 'ord_3_label', 'ord_4_label', 'ord_5_label'],
      dtype='object')

In [84]:
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0.0
6,6,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,1.0,Grandmaster,Cold,c,R,rg,5.0,6.0,0.0
7,7,0.0,0.0,1.0,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,3.0,Expert,Cold,b,Y,PS,1.0,1.0,0.0
10,10,0.0,0.0,1.0,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,1.0,Novice,Hot,b,O,hG,7.0,5.0,1.0
11,11,0.0,0.0,1.0,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,1.0,Contributor,Hot,b,M,xF,2.0,8.0,0.0

## Frequency encoding for columns nom_5, nom_6, nom_7, nom_8, nom_9

In [85]:
drop_cols = ['nom_5_1', 'nom_5_2', 'nom_5_3', 'nom_5_4', 'nom_5_5', 'nom_5_6',
       'nom_5_7', 'nom_5_8', 'nom_5_9', 'nom_5_10', 'nom_5_11', 'nom_6_1',
       'nom_6_2', 'nom_6_3', 'nom_6_4', 'nom_6_5', 'nom_6_6', 'nom_6_7',
       'nom_6_8', 'nom_6_9', 'nom_6_10', 'nom_6_11', 'nom_7_1', 'nom_7_2',
       'nom_7_3', 'nom_7_4', 'nom_7_5', 'nom_7_6', 'nom_7_7', 'nom_7_8',
       'nom_8_1', 'nom_8_2', 'nom_8_3', 'nom_8_4', 'nom_8_5', 'nom_8_6',
       'nom_8_7', 'nom_8_8', 'nom_9_1', 'nom_9_2', 'nom_9_3', 'nom_9_4',
       'nom_9_5', 'nom_9_6', 'nom_9_7', 'nom_9_8', 'nom_9_9', 'nom_9_10',
       'nom_9_11', 'nom_9_12']
cat_data.drop(columns=drop_cols, axis=1, inplace=True)
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'ord_3_label', 'ord_4_label', 'ord_5_label'],
      dtype='object')

In [0]:
feature_encoding_nom_5 = data['nom_5'].value_counts(normalize=True)
feature_encoding_nom_6 = data['nom_6'].value_counts(normalize=True)
feature_encoding_nom_7 = data['nom_7'].value_counts(normalize=True)
feature_encoding_nom_8 = data['nom_8'].value_counts(normalize=True)
feature_encoding_nom_9 = data['nom_9'].value_counts(normalize=True)

In [87]:
type(feature_encoding_nom_5)

pandas.core.series.Series

In [0]:
cat_data['nom_5'] = data['nom_5'].map(feature_encoding_nom_5)
cat_data['nom_6'] = data['nom_6'].map(feature_encoding_nom_6)
cat_data['nom_7'] = data['nom_7'].map(feature_encoding_nom_7)
cat_data['nom_8'] = data['nom_8'].map(feature_encoding_nom_8)
cat_data['nom_9'] = data['nom_9'].map(feature_encoding_nom_9)

In [89]:
cat_data.head()

,label_bin_3,label_bin_4,nom_0__Green,nom_0__Red,nom_1__Polygon,nom_1__Square,nom_1__Star,nom_1__Trapezoid,nom_1__Triangle,nom_2__Cat,nom_2__Dog,nom_2__Hamster,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin,ord_1_label,ord_2_label,ord_3_label,ord_4_label,ord_5_label,nom_5,nom_6,nom_7,nom_8,nom_9
0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,3,2,20,56,0.000732,0.000325,0.003579,0.002712,0.000434
6,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,4,1,2,17,158,0.001464,0.000814,0.003552,0.004800,0.001030
7,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,2,1,1,24,54,0.001546,0.001302,0.009057,0.004610,0.000624
10,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,3,1,14,117,0.000814,0.001003,0.005179,0.007484,0.000705
11,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,3,1,12,182,0.001383,0.001003,0.006101,0.004556,0.000217

In [90]:
final_data = pd.concat([cat_data, data[['bin_0', 'bin_1', 'bin_2', 'ord_0', 'day', 'month', 'target']]], axis=1)
final_data.shape

(36877, 39)

In [91]:
X_train, X_test, y_train, y_test = train_test_split(final_data[final_data.columns.difference(['target'])], final_data['target'], test_size=0.3, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25813, 38), (11064, 38), (25813,), (11064,))

In [92]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8104663774403471

## Scaling the features

In [0]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.transform(X_test)

In [94]:
clf = LogisticRegression(random_state=0).fit(X_train_minmax, y_train)
y_pred = clf.predict(X_test_minmax)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.818239334779465

## Apply Frequency encoding for columns nom_5, nom_6, nom_7, nom_8, nom_9 by dividing by len()

In [0]:
feature_encoding_nom_5 = data['nom_5'].value_counts()/len(cat_data)
feature_encoding_nom_6 = data['nom_6'].value_counts()/len(cat_data)
feature_encoding_nom_7 = data['nom_7'].value_counts()/len(cat_data)
feature_encoding_nom_8 = data['nom_8'].value_counts()/len(cat_data)
feature_encoding_nom_9 = data['nom_9'].value_counts()/len(cat_data)

In [0]:
cat_data['nom_5'] = data['nom_5'].map(feature_encoding_nom_5)
cat_data['nom_6'] = data['nom_6'].map(feature_encoding_nom_6)
cat_data['nom_7'] = data['nom_7'].map(feature_encoding_nom_7)
cat_data['nom_8'] = data['nom_8'].map(feature_encoding_nom_8)
cat_data['nom_9'] = data['nom_9'].map(feature_encoding_nom_9)

In [97]:
final_data = pd.concat([cat_data, data[['bin_0', 'bin_1', 'bin_2', 'ord_0', 'day', 'month', 'target']]], axis=1)
final_data.shape

(36877, 39)

In [98]:
X_train, X_test, y_train, y_test = train_test_split(final_data[final_data.columns.difference(['target'])], final_data['target'], test_size=0.3, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25813, 38), (11064, 38), (25813,), (11064,))

In [99]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8104663774403471

## Scaling the features

In [0]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.transform(X_test)

In [101]:
clf = LogisticRegression(random_state=0).fit(X_train_minmax, y_train)
y_pred = clf.predict(X_test_minmax)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.818239334779465

## **This means that value_counts(normalize=True) and value_counts()/len(dataframe) are one and the same things and hence yield same metrics**

## Apply feature encoding to columns ord_3, ord_4, ord_5

In [102]:
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'ord_3_label', 'ord_4_label', 'ord_5_label', 'nom_5', 'nom_6', 'nom_7',
       'nom_8', 'nom_9'],
      dtype='object')

In [103]:
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0.0
6,6,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,1.0,Grandmaster,Cold,c,R,rg,5.0,6.0,0.0
7,7,0.0,0.0,1.0,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,3.0,Expert,Cold,b,Y,PS,1.0,1.0,0.0
10,10,0.0,0.0,1.0,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,1.0,Novice,Hot,b,O,hG,7.0,5.0,1.0
11,11,0.0,0.0,1.0,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,1.0,Contributor,Hot,b,M,xF,2.0,8.0,0.0

In [0]:
feature_encoding_ord_3 = data['ord_3'].value_counts(normalize=True)
feature_encoding_ord_4 = data['ord_4'].value_counts(normalize=True)
feature_encoding_ord_5 = data['ord_5'].value_counts(normalize=True)

In [0]:
cat_data['ord_3_label'] = data['ord_3'].map(feature_encoding_ord_3)
cat_data['ord_4_label'] = data['ord_4'].map(feature_encoding_ord_4)
cat_data['ord_5_label'] = data['ord_5'].map(feature_encoding_ord_5)

In [106]:
cat_data.head()

,label_bin_3,label_bin_4,nom_0__Green,nom_0__Red,nom_1__Polygon,nom_1__Square,nom_1__Star,nom_1__Trapezoid,nom_1__Triangle,nom_2__Cat,nom_2__Dog,nom_2__Hamster,nom_2__Lion,nom_2__Snake,nom_3__China,nom_3__Costa Rica,nom_3__Finland,nom_3__India,nom_3__Russia,nom_4__Oboe,nom_4__Piano,nom_4__Theremin,ord_1_label,ord_2_label,ord_3_label,ord_4_label,ord_5_label,nom_5,nom_6,nom_7,nom_8,nom_9
0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,3,0.098571,0.055400,0.007430,0.000732,0.000325,0.003579,0.002712,0.000434
6,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,4,1,0.098571,0.056322,0.007701,0.001464,0.000814,0.003552,0.004800,0.001030
7,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,2,1,0.077718,0.063156,0.009193,0.001546,0.001302,0.009057,0.004610,0.000624
10,1,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,3,0.077718,0.045340,0.008406,0.000814,0.001003,0.005179,0.007484,0.000705
11,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1,3,0.077718,0.055997,0.003335,0.001383,0.001003,0.006101,0.004556,0.000217

In [107]:
final_data = pd.concat([cat_data, data[['bin_0', 'bin_1', 'bin_2', 'ord_0', 'day', 'month', 'target']]], axis=1)
final_data.shape

(36877, 39)

In [108]:
X_train, X_test, y_train, y_test = train_test_split(final_data[final_data.columns.difference(['target'])], final_data['target'], test_size=0.3, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25813, 38), (11064, 38), (25813,), (11064,))

In [109]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8133586406362979

## Scaling the features

In [0]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.transform(X_test)

In [111]:
clf = LogisticRegression(random_state=0).fit(X_train_minmax, y_train)
y_pred = clf.predict(X_test_minmax)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8138105567606653

## The accuracy_score has decreased this means `label_encoding` was better than frequency encoding for ord_3, ord_4, ord_5 columns, apply binary encoding

## Applying Binary_encoding to ord_3, ord_4, ord_5

In [0]:
drop_cols = ['ord_3_label', 'ord_4_label', 'ord_5_label']
cat_data.drop(columns=drop_cols, inplace=True, axis=1)

In [113]:
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9'],
      dtype='object')

In [114]:
be = BinaryEncoder(cols=['ord_3', 'ord_4', 'ord_5'], drop_invariant=True)
dummy_data = be.fit_transform(data)
dummy_data.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3_1', 'ord_3_2', 'ord_3_3', 'ord_3_4',
       'ord_4_1', 'ord_4_2', 'ord_4_3', 'ord_4_4', 'ord_4_5', 'ord_5_1',
       'ord_5_2', 'ord_5_3', 'ord_5_4', 'ord_5_5', 'ord_5_6', 'ord_5_7',
       'ord_5_8', 'day', 'month', 'target'],
      dtype='object')

In [0]:
cat_data = pd.concat([cat_data, dummy_data[['ord_3_1', 'ord_3_2', 'ord_3_3', 'ord_3_4',
       'ord_4_1', 'ord_4_2', 'ord_4_3', 'ord_4_4', 'ord_4_5', 'ord_5_1',
       'ord_5_2', 'ord_5_3', 'ord_5_4', 'ord_5_5', 'ord_5_6', 'ord_5_7',
       'ord_5_8',]]], axis=1)

In [116]:
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_3_1', 'ord_3_2',
       'ord_3_3', 'ord_3_4', 'ord_4_1', 'ord_4_2', 'ord_4_3', 'ord_4_4',
       'ord_4_5', 'ord_5_1', 'ord_5_2', 'ord_5_3', 'ord_5_4', 'ord_5_5',
       'ord_5_6', 'ord_5_7', 'ord_5_8'],
      dtype='object')

In [117]:
final_data = pd.concat([cat_data, data[['bin_0', 'bin_1', 'bin_2', 'ord_0', 'day', 'month', 'target']]], axis=1)
final_data.shape

(36877, 53)

In [118]:
X_train, X_test, y_train, y_test = train_test_split(final_data[final_data.columns.difference(['target'])], final_data['target'], test_size=0.3, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25813, 52), (11064, 52), (25813,), (11064,))

In [119]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8151663051337672

## Scaling the features

In [0]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.transform(X_test)

In [121]:
clf = LogisticRegression(random_state=0).fit(X_train_minmax, y_train)
y_pred = clf.predict(X_test_minmax)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8150759219088937

## Even binary encoding isn't improving metrics for columns ord_3, ord_4, ord_5. This imples label_encoding is better for ord_3, ord_4, ord_5

In [0]:
# Applying label_encoding to ord_3, ord_4, ord_5
cat_data['ord_3_label'] = label_encoder.fit_transform(data['ord_3'])
cat_data['ord_4_label'] = label_encoder.fit_transform(data['ord_4'])
cat_data['ord_5_label'] = label_encoder.fit_transform(data['ord_5'])

In [123]:
drop_cols = ['ord_3_1', 'ord_3_2', 'ord_3_3', 'ord_3_4',
       'ord_4_1', 'ord_4_2', 'ord_4_3', 'ord_4_4', 'ord_4_5', 'ord_5_1',
       'ord_5_2', 'ord_5_3', 'ord_5_4', 'ord_5_5', 'ord_5_6', 'ord_5_7',
       'ord_5_8',]
cat_data.drop(columns=drop_cols, inplace=True, axis=1)
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_3_label',
       'ord_4_label', 'ord_5_label'],
      dtype='object')

In [124]:
data.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0.0
6,6,0.0,0.0,0.0,F,N,Red,Triangle,Hamster,Costa Rica,Bassoon,87a5be0d7,cdc35bd00,1cba571fa,b8e63cace,4d3766412,1.0,Grandmaster,Cold,c,R,rg,5.0,6.0,0.0
7,7,0.0,0.0,1.0,T,N,Red,Triangle,Axolotl,Finland,Bassoon,104aee31d,2a50808ba,81d67e1bb,bd9643a20,a651dec43,3.0,Expert,Cold,b,Y,PS,1.0,1.0,0.0
10,10,0.0,0.0,1.0,T,Y,Blue,Triangle,Hamster,Finland,Bassoon,8bd03e713,0d8c9ee63,93360bbc9,28869f8aa,9bfe3ee22,1.0,Novice,Hot,b,O,hG,7.0,5.0,1.0
11,11,0.0,0.0,1.0,F,Y,Red,Square,Hamster,Costa Rica,Oboe,b574c9841,494b565c1,088aace2d,74a092964,6c73b62e4,1.0,Contributor,Hot,b,M,xF,2.0,8.0,0.0

## Applying binary encoding on day, month column

In [125]:
be = BinaryEncoder(cols=['month', 'day'], drop_invariant=True)
dummy_data = be.fit_transform(data)
dummy_data.columns

Index(['id', 'bin_0', 'bin_1', 'bin_2', 'bin_3', 'bin_4', 'nom_0', 'nom_1',
       'nom_2', 'nom_3', 'nom_4', 'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9',
       'ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5', 'day_1', 'day_2',
       'day_3', 'month_1', 'month_2', 'month_3', 'month_4', 'target'],
      dtype='object')

In [0]:
cat_data = pd.concat([cat_data, dummy_data[['day_1', 'day_2',
       'day_3', 'month_1', 'month_2', 'month_3', 'month_4',]]], axis=1)

In [127]:
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_3_label',
       'ord_4_label', 'ord_5_label', 'day_1', 'day_2', 'day_3', 'month_1',
       'month_2', 'month_3', 'month_4'],
      dtype='object')

In [128]:
final_data = pd.concat([cat_data, data[['bin_0', 'bin_1', 'bin_2', 'ord_0', 'target']]], axis=1)
final_data.shape

(36877, 44)

In [129]:
X_train, X_test, y_train, y_test = train_test_split(final_data[final_data.columns.difference(['target'])], final_data['target'], test_size=0.3, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25813, 43), (11064, 43), (25813,), (11064,))

In [130]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8139913232104121

## Scaling the features

In [0]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.transform(X_test)

In [132]:
clf = LogisticRegression(random_state=0).fit(X_train_minmax, y_train)
y_pred = clf.predict(X_test_minmax)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8185104844540854

## Applying Frequency encoding on day, month column

In [0]:
drop_cols = ['day_1', 'day_2', 'day_3', 'month_1', 'month_2', 'month_3', 'month_4',]
cat_data.drop(columns=drop_cols, inplace=True, axis=1)

In [134]:
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_3_label',
       'ord_4_label', 'ord_5_label'],
      dtype='object')

In [0]:
frequency_encoding_day = data['day'].value_counts(normalize=True)
frequency_encoding_month = data['month'].value_counts(normalize=True)

In [136]:
cat_data['day'] = data['day'].map(frequency_encoding_day)
cat_data['month'] = data['month'].map(frequency_encoding_month)
cat_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_3_label',
       'ord_4_label', 'ord_5_label', 'day', 'month'],
      dtype='object')

In [137]:
final_data = pd.concat([cat_data, data[['bin_0', 'bin_1', 'bin_2', 'ord_0', 'target']]], axis=1)
final_data.shape

(36877, 39)

In [138]:
final_data.columns

Index(['label_bin_3', 'label_bin_4', 'nom_0__Green', 'nom_0__Red',
       'nom_1__Polygon', 'nom_1__Square', 'nom_1__Star', 'nom_1__Trapezoid',
       'nom_1__Triangle', 'nom_2__Cat', 'nom_2__Dog', 'nom_2__Hamster',
       'nom_2__Lion', 'nom_2__Snake', 'nom_3__China', 'nom_3__Costa Rica',
       'nom_3__Finland', 'nom_3__India', 'nom_3__Russia', 'nom_4__Oboe',
       'nom_4__Piano', 'nom_4__Theremin', 'ord_1_label', 'ord_2_label',
       'nom_5', 'nom_6', 'nom_7', 'nom_8', 'nom_9', 'ord_3_label',
       'ord_4_label', 'ord_5_label', 'day', 'month', 'bin_0', 'bin_1', 'bin_2',
       'ord_0', 'target'],
      dtype='object')

In [139]:
X_train, X_test, y_train, y_test = train_test_split(final_data[final_data.columns.difference(['target'])], final_data['target'], test_size=0.3, random_state=1)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25813, 38), (11064, 38), (25813,), (11064,))

In [140]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.813177874186551

## Scaling the features

In [0]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(X_train)
X_test_minmax = mm_scaler.transform(X_test)

In [142]:
clf = LogisticRegression(random_state=0).fit(X_train_minmax, y_train)
y_pred = clf.predict(X_test_minmax)
acc = accuracy_score(y_test, y_pred)
print(acc)

0.8181489515545914

# The best metrics got so far = 0.8189624005784526